body {
  margin: 0 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.wrapper1 {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;

}

img.main-intro {
  margin-top: 100px;
}

.polygon {
  margin-top: 100px;
  margin-bottom: -125px;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
  cursor:pointer;
}

.button:focus,
.button:active{
  background-color: #5496bd;
}

.button-search-form {
  background-color: #766357;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.button-reservation {
  background-color: #766357;
}

.button-search-form:hover,
.button-reservation:hover {
  background-color: #604e43;
  cursor:pointer;
}

.button-search-form:focus,
.button-reservation:focus,
.button-search-form:active,
.button-reservation:active {
  background-color: #503e33;
}

.main-navigation {
  margin: -16px 0px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #a8c9df;
  cursor:pointer;
}

.site-navigation a:focus {
  color: #cacaca;
}

.site-navigation a:active {
  color: #766357;
}

.site-navigation-left{
  text-align: left;
}

.site-navigation-right{
  text-align: right;
}

.intro-content {
  text-align: center;

  background-color: #ffffff;
}

.text-intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features {
  margin-top: -50px;
  background-color: #ffffff;
}

.features-list{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  list-style: none;
}

.feature-item h3,
.feature-item b {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.search-form {
  text-align: center;
  background-color: #ffffff;
}

.search-form h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.modal{
  display: none;
}

.catalog {
  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.hotel-item a{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.hotel-item a:hover {
  color: #81b3d2;
  cursor:pointer;
}

.hotel-item a:focus,
.hotel-item a:active {
  color: #cacaca;
}

.main-footer {
  color: #000000;
  text-align: center;
  background-color: #ffffff;

}

.social-button{
  list-style: none;
}

.social-button-item {
  background-color: #81b3d2;
}

.social-button-item:hover{
  background-color: #669ec0;
  cursor:pointer;
}

.social-button-item:focus,
.social-button-item:active,{
  background-color: #609dc2;
}

/* ----- Сеточные стили ----- */

.main-navigation {
  min-height: 55px;
  width: 100%;
}

.site-navigation {
  min-height: 55px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-intro{
  display: block;
  margin: 0 auto;
}
.img.img-logo {
  display: block;
  width: 165px;
  height: 65px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 117px;
  margin-bottom: 50px;
}

.wrapper2{
  margin: 0;
  padding: 0;
  width: 100%;
}

.features-list {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.feature-item {
  margin: auto;
  min-height: 300px;
  list-style: none;
  background-color: #eeeeee;
  flex-grow: 1;
}

.feature-item-blue{
  padding: 0;
  margin: 0;
  width: 487px;
  min-height: 300px;
  background-color: #81b3d2;
}

.feature-item-gray{
  padding: 0;
  margin: 0;
  min-height: 300px;
  background-color: #eeeeee;
}

.feature-item-white{
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.wrapper3{
  padding: 0;
  margin: 0;
  width: 100%
  background-color: #ffffff;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter{
  background-image: url("../img/filters.jpg");
  min-height: 216px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.catalog{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-list{

}

.catalog-item{
  list-style: none;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;

}

.footer-hashtag {
  margin: 0;
  min-height: 55px;
  width: 165px;
}

.footer-social {
  min-height: 55px;
  min-width: 165px;
}

.social-button{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  margin: 0;
  min-height: 55px;
  min-width: 200px;
}

.catalog {
  display: flex;
  flex-direction: column;
}
