body {
  margin: 0 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
  cursor:pointer;
}

.button:focus,
.button:active{
  background-color: #5496bd;
}

.button-search-form {
  background-color: #766357;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.button-reservation {
  background-color: #766357;
}

.button-search-form:hover,
.button-reservation:hover {
  background-color: #604e43;
  cursor:pointer;
}

.button-search-form:focus,
.button-reservation:focus,
.button-search-form:active,
.button-reservation:active {
  background-color: #503e33;
}

.main-navigation {
  margin: -16px 0px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #a8c9df;
  cursor:pointer;
}

.site-navigation a:focus {
  color: #cacaca;
}

.site-navigation a:active {
  color: #766357;
}

.site-navigation-left{
  text-align: left;
}

.site-navigation-right{
  text-align: right;
}

.intro-content {
  text-align: center;

  background-color: #ffffff;
}

.text-intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-list{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  list-style: none;
}

.feature-item h3,
.feature-item b {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.search-form {
  text-align: center;
  background-color: #ffffff;
}

.search-form h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.modal{
  display: none;
}

.catalog {
  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.hotel-item a{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.hotel-item a:hover {
  color: #81b3d2;
  cursor:pointer;
}

.hotel-item a:focus,
.hotel-item a:active {
  color: #cacaca;
}

.main-footer {
  color: #000000;
  text-align: center;
  background-color: #ffffff;

}

.social-button{
  list-style: none;
}

.social-button-item {
  background-color: #81b3d2;
}

.social-button-item:hover{
  background-color: #669ec0;
  cursor:pointer;
}

.social-button-item:focus,
.social-button-item:active,{
  background-color: #609dc2;
}

/* ----- Сеточные стили ----- */

.main-header {
  margin-bottom: 85px;
}

.main-navigation {
  margin-bottom: 85px;
  min-height: 55px;
  width: 100%;
}

.site-navigation {
  padding: 0px 50px;
  height: 54px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-intro{
  display: block;
  margin: 0 auto;
}
.img.img-logo {
  width: 166px;
  height: 60px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 117px;
  margin-bottom: 50px;
}

.features-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.footer-hashtag {
  margin: 0;
  min-height: 25px;
  min-width: 120px;
}

.footer-social {
  margin: 0;
  min-height: 55px;
  min-width: 155px;
}

.footer-copyright {
  margin: 0;
  min-height: 50px;
  min-width: 200px;
}

.catalog {
  display: flex;
  flex-direction: column;
}
